PROCS.PRO-REHLDS-LINUX-PROD/
PROCS.PRO-REHLDS-STARTUP/
PROCS.PRO-REHLDS-COLLECTION-SYSTEM/
mr1v1-miniprogram/
# Go binaries
mr1v1-mr1v1-rehlds/mr1v1-*
mr1v1-mr1v1-rehlds/cmd/*/dist
# Frontend build artifacts in wrong locations
mr1v1-collector/internal/backend/static/assets/
mr1v1-collector/internal/backend/static/*.html
mr1v1-collector/internal/backend/static/*.svg
mr1v1-rehlds/*
!mr1v1-rehlds/Dockerfile
!mr1v1-rehlds/.dockerignore
!mr1v1-rehlds/docker-compose.yml
!mr1v1-rehlds/docker-compose.prod.yml
!mr1v1-rehlds/.env.example
!mr1v1-rehlds/start.sh
!mr1v1-rehlds/set_cvar.sh
!mr1v1-rehlds/config-overrides/
!mr1v1-rehlds/cstrike/
mr1v1-rehlds/cstrike/*
!mr1v1-rehlds/cstrike/server.cfg
!mr1v1-rehlds/cstrike/addons/
mr1v1-rehlds/cstrike/addons/*
!mr1v1-rehlds/cstrike/addons/amxmodx/
mr1v1-rehlds/cstrike/addons/amxmodx/*
!mr1v1-rehlds/cstrike/addons/amxmodx/configs/
!mr1v1-rehlds/cstrike/addons/amxmodx/scripting/
mr1v1-rehlds/cstrike/addons/amxmodx/scripting/*
!mr1v1-rehlds/cstrike/addons/amxmodx/scripting/mr1v1_match.sma
!mr1v1-rehlds/cstrike/addons/amxmodx/scripting/mr1v1_telemetry.sma
!mr1v1-rehlds/cstrike/addons/amxmodx/plugins/
mr1v1-rehlds/cstrike/addons/amxmodx/plugins/*
!mr1v1-rehlds/cstrike/addons/amxmodx/plugins/mr1v1_match.amxx
!mr1v1-rehlds/cstrike/addons/amxmodx/plugins/mr1v1_telemetry.amxx
