PROCS.PRO-REHLDS-LINUX-PROD/
PROCS.PRO-REHLDS-STARTUP/
PROCS.PRO-REHLDS-COLLECTION-SYSTEM/
mr1v1-miniprogram/
# Go binaries
mr1v1-server/mr1v1-*
mr1v1-server/cmd/*/dist
# Frontend build artifacts in wrong locations
mr1v1-collector/internal/backend/static/assets/
mr1v1-collector/internal/backend/static/*.html
mr1v1-collector/internal/backend/static/*.svg
server/*
!server/Dockerfile
!server/.dockerignore
!server/docker-compose.yml
!server/docker-compose.prod.yml
!server/.env.example
!server/start.sh
!server/set_cvar.sh
!server/config-overrides/
!server/cstrike/
server/cstrike/*
!server/cstrike/server.cfg
!server/cstrike/addons/
server/cstrike/addons/*
!server/cstrike/addons/amxmodx/
server/cstrike/addons/amxmodx/*
!server/cstrike/addons/amxmodx/configs/
!server/cstrike/addons/amxmodx/scripting/
server/cstrike/addons/amxmodx/scripting/*
!server/cstrike/addons/amxmodx/scripting/mr1v1_match.sma
!server/cstrike/addons/amxmodx/scripting/mr1v1_telemetry.sma
!server/cstrike/addons/amxmodx/plugins/
server/cstrike/addons/amxmodx/plugins/*
!server/cstrike/addons/amxmodx/plugins/mr1v1_match.amxx
!server/cstrike/addons/amxmodx/plugins/mr1v1_telemetry.amxx
